body{
    .login {
    background-color: #f8dddd;
    padding: 50px;
    border-radius: 7px;
    margin: 0 auto;
}

}

.form-row {
    margin-bottom: 20px;
}

.form-row label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-row input[type="text"] {
    width: calc(100% - 10px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    max-width: 400px;
    height: 80px;
}

.btn-predict {
    background-color: #4CAF50;
    color: white;
    padding: 8px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-predict:hover {
    background-color: #45a049;
}

.result {
    margin-top: 20px;
    font-weight: bold;
    color: #ff1493;
    font-size: 30px;
}
